.home-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    min-width: 5rem;
    min-height: 5rem;
    background-color: inherit;
}

.home-logo-img {
    display: block;
    width: 3rem;
    height: auto;
    max-height: 3rem;
}
